/* src/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: White;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    height: 40px; /* Adjust as needed */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #100606;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #7956A5; /* Adjust hover color as needed */
}
