/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App.css */
.App {
    text-align: center;
}

.header img {
    max-width: 100%;
}

.countdown {
    margin: 0px 0; /* Keep this if spacing is intended, otherwise set to 0 */
    font-size: 1.5rem;
    background-color: #29033E;
}

.schedule {
    background-color: #29033E;
    margin: 0; /* Ensure no margin */
    text-align: center;
    text-size-adjust: 200px;
}

.footer {
    margin-top: 0px; /* Keep this if spacing is intended, otherwise set to 0 */
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Example styles */
.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0; /* Keep this if spacing is intended, otherwise set to 0 */
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

/* Add more styles as per your design */
